.sidebar{

    width:280px;
    height:100vh;

    position:fixed;
    left:0;
    top:0;

    background:white;

    border-right:1px solid var(--border);

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    padding:30px 20px;

    box-shadow:var(--shadow);

}

.sidebar-logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-circle{

    width:60px;

    height:60px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    font-weight:bold;

}

.sidebar-logo h2{

    margin-bottom:6px;

}

.sidebar-logo p{

    color:var(--text-light);

    font-size:13px;

}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-top:40px;

}

.sidebar-menu a{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px;

    border-radius:14px;

    transition:var(--transition);

}

.sidebar-menu a:hover{

    background:#f4f4f4;

}

.new-post-btn{

    width:100%;

    background:var(--primary);

    color:white;

    border:none;

    padding:15px;

    border-radius:14px;

    font-size:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-top:auto;

}

.new-post-btn:hover{

    background:var(--primary-dark);

}

.logout-btn{

    margin-top:15px;

    border:none;

    background:none;

    display:flex;

    gap:10px;

    align-items:center;

    color:var(--text-light);

    padding:12px;

}